[submodule "ioe510"]
	path = ioe510
	url = git@github.com:DanielHou315/ioe510.git
[submodule "eecs498_group8"]
	path = eecs498_group8
	url = git@github.com:DanielHou315/eecs498_group8.git
[submodule "eecs465"]
	path = eecs465
	url = git@github.com:DanielHou315/eecs465.git
[submodule "eecs492"]
	path = eecs492
	url = git@github.com:DanielHou315/eecs492.git
[submodule "eecs442"]
	path = eecs442
	url = git@github.com:DanielHou315/eecs442.git
[submodule "eecs445"]
	path = eecs445
	url = git@github.com:DanielHou315/eecs445.git
[submodule "eecs281"]
	path = eecs281
	url = git@github.com:DanielHou315/eecs281.git
[submodule "eecs280"]
	path = eecs280
	url = git@github.com:DanielHou315/eecs280.git
[submodule "rob498"]
	path = rob498
	url = git@github.com:DanielHou315/rob498.git
[submodule "eecs370"]
	path = eecs370
	url = git@github.com:DanielHou315/eecs370.git
[submodule "bams498"]
	path = bams498
	url = git@github.com:DanielHou315/bams498.git
[submodule "bams498_simulated_bipeds"]
	path = bams498_simulated_bipeds
	url = git@github.com:DanielHou315/bams498_simulated_bipeds.git
[submodule "cse595"]
	path = cse595
	url = git@github.com:DanielHou315/cse595.git
[submodule "cse587"]
	path = cse587
	url = git@github.com:DanielHou315/cse587.git
[submodule "eecs498_rl"]
	path = eecs498_rl
	url = git@github.com:DanielHou315/eecs498_rl.git
